*,body,html {
    padding: 0%;
    margin: 0%;
}
.fContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}
.wrapper {
    padding: 0.7vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh;
    margin: 0.6%;
}
.firstname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3vw;
}
.lastname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3vw;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li {
    list-style: none;
    padding: 1vh;
}
.navigation>li>a {
    text-decoration: none;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif       ;
}
.heading {
    padding: 5vh;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}