*,
html,
body {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fContainer {
    width: 100%;
    height: 100vh;
    background-color: white;
}
.wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 20px;
}
.brand {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}

.firstname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
}
.lastname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
}
.name {
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-transform: capitalize;
    color: black;
}
.name-one {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
    color: black;
}
input {
    padding: 10px;
    margin: 10px;  
    display: flex;
    border-radius: 30px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
input:hover{
    background-color: black;
    border: 1px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    transition: 1s all;
    text-align: center;
}
.name-two {
    padding: -10px;
    margin: -25px;
    display: flex;
    justify-content: center;
    border: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
    color: black;
}
.button>li {
    list-style: none;
    padding: 50px;
    text-align: center;
}
.button>li>a {
    text-decoration: none;
    border: 1px;
    border-radius: 50px;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10x;
}
.button>li>a:hover {
    background-color: black;
    border: 1px;
    border-radius: 50px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    transition: 1s all;
    padding: 10px;
    margin: 10px;
}