*,html,body {
    padding: 0%;
    margin: 0%;
}
.fContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}
.wrapper {
    padding: 1.5vh;
    display: flex;
    justify-content: center;
    background-color: black;
}
.brand {
    display: flex;
    flex-direction: row;
    padding: 1vh;
    margin: 0.6%;
    justify-content: space-between;
}

.firstname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3vw;
}
.lastname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3vw;
}
.name {
    text-align: center;
    padding: 1%;
    margin: 1%;
    color: black;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}
.name-one {
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
input {
    padding: 0.9%;
    margin: 1%;  
    display: flex;
    border: 1%;
    border-radius: 20vh;
    text-align: center;
    color: black;
    font-size: 3vw ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.name-two {
    padding: -10%;
    margin: -1.9% ;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    color: black;
}
.button>li {
    list-style: none;
    padding: 2%;
    margin: 2%;
    text-align: center;
}
.button>li>a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    background-color: black;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    padding: 2%;
    border: 1%;
    border-radius: 20vh;
    font-family: Arial, Helvetica, sans-serif;
}