body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}
.fContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}
.wrapper {
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(70, 70, 70);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin: 1%;
}

.firstname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5vw;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li {
    list-style: none;
    justify-content: space-evenly;
}
.navigation>li>a {
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-transform: capitalize;
}
.mask1 {
    padding: 5%;
    text-align: center;
    font-size: 1em;
    font-style: oblique;
    border-radius: 50vh;
    object-fit: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    cursor: pointer;
}
.head2 {
    padding: -5%;
    font-style: oblique;
    text-align: center;
    text-decoration: none;
    overflow: -moz-hidden-unscrollable;
}
.brand {
    max-width: 600px;
    margin: 3em auto;
    text-align: center;
}
table {
    max-width: 600px;
    margin: 3em auto;
    border: 1;
    width: 80%;
}
footer {
    text-align: center;
    padding: 2%;
}