*,html,body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.fContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}
.wrapper {
    padding: 0.7vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 1.3vw;
}
.brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh;
    margin: 0.6%;
}

.firstname {
    color: white;
    font-weight: bold;
   font-variant: small-caps;
}
.lastname {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li {
    list-style: none;
    padding: 1vh;
}
.navigation>li>a {
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    text-transform: capitalize;
}
.name {
    text-align: center;
    padding: 1%;
    margin: 1%;
    text-transform: capitalize;
    color: black;
}
.name-one {
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.name-two {
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.name-three {
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.name-for {
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
input {
    font-size: 1.3vw;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 10vh;
    height: 6vh;
    width: 20%;
}
textarea {
    font-size: 1.3vw;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 1vh;
    height: 6vh;
    width: 20%;
}
.button>li {
    list-style: none;
    padding: 2%;
    text-align: center;
}
.button>li>a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    background-color: black;
    font-weight: bold;
    font-size: 1.3vw;
    padding: 2vh;
    border: 1%;
    border-radius: 50vh;
}